<footer>
	<ul>
	  <li class="logomark">
			<a href="/">
				M
			</a>
	  </li>
	  {{ range $.Site.Data.footer.link_lists }}
	  	<li>
				<a {{ with .url }} href="{{ . }}" {{ end }}>{{ .text }}</a>
				{{ with .links }}
					<ul>
						{{ range . }}
							<li>
								<a href="{{ .url }}">{{ .text }}</a>
							</li>
						{{ end }}
					</ul>
				{{ end }}
			</li>
		{{ end }}
		<li class="panel">
				<span>Join the Community on Slack:</span>
				<a href="#" class="btn purple">Join Slack Community</a>
				<span>Get Product Updates:</span>
				<div class="email-cta">
					<input type="email" id="footer_email" placeholder="Your work email">
					<a class="btn sm purple" data-js="footer_email_submit">Go</a>
				</div>
		</li>
	</ul>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
