<section class="container">
  <div class="hero">
    <div class="copy">
      <h1>
        {{- partial "gradient-headline" .title -}}
      </h1>
      <p>
        {{- .subtitle | markdownify -}}
      </p>

      {{- with .primary_cta -}}
        <p>
          {{- if .collect_email -}}
            <!-- TODO: Could move this to partial and combine with footer email form -->
            <form class="email-cta">
              <input type="email" id="hero_email" placeholder="Your work email">
              <input type="submit" class="btn primary small" data-js="hero_email_submit" data-url="{{ .url }}" value="{{ .text }}">
            </form>
          {{- else -}}
            <a class="btn primary" href="{{- .url -}}">{{- .text -}}</a>
          {{- end -}}
        </p>
      {{- end -}}

      {{- with .secondary_cta -}}
        <p>
          or <a class="secondary" href="{{- .url -}}">{{- .text -}}</a>
        </p>
      {{- end -}}
    </div>
    {{ with .image_svg }}
      <div class="graphic">
        {{ .code | safeHTML }}
      </div>
    {{ else }}
      {{- with .image -}}
        <div class="graphic">
          <img width="449" height="499" src="{{ . }}">
        </div>
      {{- end -}}
    {{- end -}}
  </div>
</section>

{{- with .promo_slider }}
  <section class="container overlapped">
    <div class="research_actions">
      {{- if gt (len .) 1 -}}
        <div class="arrow previous" data-js="previous">
          <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM22 9H1V7H22V9Z" fill="white" fill-opacity="0.4"></path> </svg>
        </div>
      {{- end -}}
      <div class="carousel">
        {{- range . -}}
          <div class="panel lg contrast">
            <div class="copy">
              <span class="eyebrow">{{ .eyebrow }}</span>
              <h2>{{ .title }}</h2>
              <p>{{ .subtitle }}</p>
              <a class="btn purple" href="{{ .cta_url }}">{{ .cta_text }}</a>
            </div>
            <div class="graphic">
              <img src="{{ .image }}" />
            </div>
          </div>
        {{- end -}}
      </div>
      {{- if gt (len .) 1 -}}
        <div class="arrow next" data-js="next">
          <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M21.7071 8.70711C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928932C14.9526 0.538408 14.3195 0.538408 13.9289 0.928932C13.5384 1.31946 13.5384 1.95262 13.9289 2.34315L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.70711ZM0 9H21V7H0V9Z" fill="white" fill-opacity="0.4"></path> </svg>
        </div>
        {{- end -}}
    </div>
  </section>
{{- end -}}