<div class="overflow-hidden lg:pt-12 -mb-28">
  <div class="max-w-6xl mx-auto relative mz_hero_bg rounded-2xl lg:pb-16">
    <div class="relative z-10 py-8 lg:max-w-2xl lg:w-full lg:py-28 xl:py-32">
      <main class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 lg:pl-16 lg:-mt-9">
        <div class="sm:text-center lg:text-left space-y-5 sm:space-y-8">
          <h1 class="text-4xl font-light tracking-tight text-white sm:text-5xl md:text-5xl">
            {{- partial "gradient-headline" .title -}}
          </h1>
          <p class="text-base text-gray-100 sm:text-lg sm:max-w-xl sm:mx-auto md:text-xl lg:mx-0">
            {{- .subtitle | markdownify -}}
          </p>
          {{- with .primary_cta -}}
              {{- if .collect_email -}}
                <!-- TODO: Could move this to partial and combine with footer email form -->
                <form class="max-w-lg mx-auto lg:mx-0 sm:flex sm:justify-center lg:justify-start">
                  <input class="shadow appearance-none rounded w-full p-3 leading-none bg-black bg-opacity-50 border border-ui-purple text-white placeholder-white sm:flex-grow" type="email" id="hero_email" placeholder="Your work email">
                  <input type="submit" class="mz_btn mz_btn_primary shadow-2xl mt-3 sm:mt-0 sm:ml-3 w-full md:max-w-min" data-js="hero_email_submit" data-url="{{ .url }}" value="{{ .text }}">
                </form>
              {{- else -}}
                <a class="mz_btn mz_btn_primary elevated" href="{{- .url -}}">{{- .text -}}</a>
              {{- end -}}
          {{- end -}}
          {{- with .secondary_cta -}}
          <p class="text-base text-gray-100 sm:text-lg md:text-xl">
            <span class="opacity-80">or</span>
            <a class="mz_arrow_link font-semibold" href="{{- .url -}}">{{- .text -}}</a>
          </p>
          {{- end -}}
        </div>
      </main>
    </div>
    {{- with .image_svg -}}
        <div class="lg:absolute lg:inset-y-0 lg:right-8 lg:w-1/2">
          <figure class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full">
            {{ .code | safeHTML }}
          </figure>
        </div>
      {{- else -}}
        {{- with .image -}}
          <div class="graphic">
            <img width="449" height="499" src="{{ . }}" alt="Materialize: Streaming Database">
          </div>
        {{- else -}}
          <div class="flex items-center justify-center lg:block lg:absolute lg:inset-y-10 lg:right-0 lg:w-1/2">
            <object class="relative -mb-12 lg:w-auto lg:h-auto lg:-left-8" style="min-width:540px;" data="/img/hero.svg" type="image/svg+xml"></object>
          </div>
        {{- end -}}
      {{- end -}}
  </div>
  {{- with .learn_cta }}
    <div class="relative p-4 -top-36 md:-top-20">
      <div class="bg-white relative rounded shadow-2xl items-center justify-between p-4 max-w-3xl mx-auto flex flex-col sm:flex-row md:p-10">
        <div class="space-y-3 sm:space-y-5 md:pr-64">
          <span class="uppercase text-gray-700">{{ .eyebrow }}</span>
          <h2 class="text-black text-3xl">{{ .title }}</h2>
          <p class="text-gray-700">{{ .subtitle }}</p>
          <a class="mz_btn mz_btn_purple text-white block md:inline-block" href="{{ .cta_url }}">{{ .cta_text }}</a>
        </div>
        <img class="max-w-xs md:max-w-sm md:absolute md:-right-20 md:top-4" src="{{ .image }}" alt="Materialize Streaming Database Report" />
      </div>
    </div>
  {{- end -}}
</div>

