<section class="container">
  <div class="product_info">
    {{- with .title -}}
      <h2>{{ . }}</h2>
    {{- end -}}
    {{- with .subtitle -}}
      <p class="subtitle">{{ . }}</p>
    {{- end -}}
    {{- range $i, $e := .steps -}}
      <div class="step">
        <div class="copy" data-count="{{ add 1 $i }}">
          <h2>{{ $e.title }}</h2>
          <div class="content">
            {{ $e.body | markdownify }}
          </div>
          {{- range $e.reference_links -}}
            <a class="docs_link" href="{{ .url }}">{{ .text }}</a>
          {{- end -}}
        </div>
        <div class="graphic">
          <div style="width: 400px; height: 400px; background: red">{{ $e.widget }} Graphic here</div>
        </div>
      </div>
    {{- end -}}
    {{- with .cta -}}
      <a class="btn" href="{{ .url }}">{{ .text }}</a>
    {{- end -}}
  </div>
</section>