<section class="py-12">
  <div class="max-w-6xl mx-auto relative text-center">
    {{- with .title -}}
      <h2 class="text-gray-100 text-3xl px-8 tracking-tight">{{ . }}</h2>
    {{- end -}}
    {{- with .subtitle -}}
      <div class="text-gray-100 px-8">{{ . }}</div>
    {{- end -}}
    {{- with .steps -}}
      <div class="flex flex-wrap justify-center text-left mt-8 p-2"  x-data="{active_step: 1}">
        <div class="mz_steps_widget flex-shrink md:flex-1 p-8 md:p-10 mt-4 self-start border-pink-500 border-2 overflow-hidden">
          <div class="transform transition-all duration-1000" x-bind:class="active_step == 1 ? 'translate-y-0' : '-translate-y-64'">
            {{- with site.Data.sources -}}
              <div class="max-w-md" x-data="{ command: 'mz=> ' }">
                <div
                  class="text-gray-400 grid grid-cols-2 gap-12 overflow-hidden pb-4"
                  
                  >
                  {{- range $category_i, $category := . -}}
                    <div class="p-2 space-y-2">
                      <h4 class="text-sm">{{ title $category.name }}</h4>
                      {{- range $source_i, $source := $category.sources -}}
                        {{ $slug := (replaceRE "(\\s)" "" $source.name) }}
                        <div class="
                            mz_source
                            {{ if eq $category_i 0 }}
                              mz_bg-left
                              p-8
                            {{ else }}
                              mz_bg-right
                              p-2
                            {{ end }}
                          "
                          @mouseenter="if (!active) { command = $refs.{{ $slug }}_create.innerText } else { command = $refs.{{ $slug }}_drop.innerText }"
                          x-data="{ active: {{ if and (eq $category_i 0) (eq $source_i 0) }} true {{ else }} false {{ end }} }"
                          @click="active = !active; if (active) {  command = $refs.{{ $slug }}_create.innerText + '\n' + $refs.create.innerText } else {  command = $refs.{{ $slug }}_drop.innerText + '\n' + $refs.drop.innerText }"
                          x-bind:class="active ? 'mz_active' : ''"
                          {{ if and (eq $category_i 0) (eq $source_i 0) }}
                            x-intersect="active = true; command = $refs.{{ $slug }}_create.innerText + '\n' + $refs.create.innerText"
                          {{ end }}
                          >
                          {{ $source.name }}
                          <pre class="hidden" x-ref="{{ $slug }}_create">{{ replace (chomp $source.create_example) "\n" "\nmz-> " }}</pre>
                          <pre class="hidden" x-ref="{{ $slug }}_drop">{{ $source.drop_example }}</pre>
                        </div>
                      {{- end -}}
                    </div>
                  {{- end -}}
                </div>
                <div data-js="" class="mz_gradient_border_purple mt-1">
                  <div class="mz_code mz_code_5_lines text-green-300 text-sm">
                    <div class="relative overflow-hidden w-full h-full">
                      <pre x-cl_type="command" class="absolute -bottom-0"></pre>
                      <pre class="hidden" x-ref="create">CREATE SOURCE
mz=> </pre>
                      <pre class="hidden" x-ref="drop">DROP SOURCE
mz=> </pre>
                    </div>
                  </div>
                </div>
              </div>
            {{- end -}}
          </div>
        </div>
        <div>
          {{- $steps_ct := len . -}}
          {{- range $i, $e := . -}}
            <div class="relative p-6 pr-2 ml-8 md:px-14 md:pb-24 md:pt-8 md:my-2 md:flex-1">
              {{- if ne $i 0 -}}
                <div class="absolute w-1 h-1 bg-red-600" style="top: -55vh;" x-intersect="if (active_step == {{ add $i 1 }}) active_step--"></div>
                <div class="absolute w-1 h-1 bg-red-600" style="top: 45vh;" x-intersect="if (active_step == {{ $i }}) active_step++"></div>
              {{- end -}}
              <span class="absolute top-6 md:top-8 -left-5 text-5xl mz_gradient_text font-display">{{ add 1 $i }}</span>
              {{- if ne (add 1 $i) $steps_ct -}}
                <div class="absolute top-24 -bottom-4 -left-2 w-px h-auto bg-ui-purple mz_shadow_h_dark"></div>
              {{- end -}}
              <h2 class="text-4xl leading-tight text-white max-w-sm">{{ $e.title }}</h2>
              <div class="text-lg text-gray-100 my-8 max-w-sm">
                {{ $e.body | markdownify }}
              </div>
              {{- range $e.reference_links -}}
                <a class="mz_docs_link text-lg text-white font-semibold mt-6 hover:underline" href="{{ .url }}">{{ .text }}</a>
              {{- end -}}
            </div>
          {{- end -}}
        </div>
      </div>
    {{- end -}}
    {{- with .cta -}}
      <a class="mz_btn mz_btn_secondary text-white my-4 inline-block mb-12" href="{{ .url }}">{{ .text }}</a>
    {{- end -}}
  </div>
</section>
