<div class="relative overflow-hidden p-3.5 lg:p-8">
  <div class="max-w-6xl mx-auto relative lg:p-3 z-20">
    <div class="bg-white rounded-2xl flex flex-row items-start lg:mr-40 lg:items-stretch shadow-panel relative"
         x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : '{{ (index . 0).label | urlize }}' }" >
      <div class="flex flex-col max-w-34 z-10">
        {{- range $i, $e := . -}} 
        {{- $slug := .label | urlize -}}
            <a
              class="relative lg:flex-grow flex flex-col items-center p-2 md:py-4 text-center border-b border-ui-offwhite first:rounded-tl-2xl last:rounded-bl-2xl last:border-b-0"
              href="#"
              :class="{ 'shadow-xl z-10 bg-white': tab === '{{ $slug }}', 'bg-gray-50 border-r': tab !== '{{ $slug }}'  }"
              @click.prevent="tab = '{{ $slug }}'; window.location.hash = '{{ $slug }}'"
            >
              <img class="max-h-10 w-3/5" src="{{ .icon }}">
              <span class="uppercase text-2xs leading-tight sm:text-xs mt-2">{{ .label }}</span>
            </a>
        {{- end -}}
      </div>
      {{- range $i, $e := . -}}
        <div class="h-full self-center md:flex items-center lg:-mr-40" x-show="tab === '{{ .label | urlize }}'">
          <div class="p-6 md:p-12 max-w-md bg-white rounded-tr-2xl z-30">
            <h2 class="text-3xl tracking-tighter md:text-4xl">{{- partial "gradient-headline" .title -}}</h2>
            <div class="my-8 mz_markdown break-words sm:break-normal w-11/12 sm:w-full">
              {{ .body | markdownify }}
            </div>
          </div>
          {{- with .code -}}
            <div class="-ml-24 mr-6 sm:mr-0 sm:ml-0 mz_gradient_border_purple z-40">
              <pre class="mz_code max-w-lg lg:pr-24 text-white text-xs sm:text-base"><code>{{ .code }}</code></pre>
            </div>
          {{- end -}}
        </div>
      {{- end -}}
    </div>
  </div>
  <div class="absolute z-10 inset-0 w-full max-w-6xl mx-auto px-28">
    <svg class="h-full w-full" viewBox="0 0 925 675" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.0390625 15C0.0390625 6.71574 6.75479 0 15.0391 0H907.039C915.323 0 922.039 6.71573 922.039 15V662C922.039 670.284 915.323 677 907.039 677H15.0391C6.75478 677 0.0390625 670.284 0.0390625 662L0.0390625 15Z" fill="#16123E"/>
      <path d="M0.0390625 15C0.0390625 6.71574 6.75479 0 15.0391 0H907.039C915.323 0 922.039 6.71573 922.039 15V662C922.039 670.284 915.323 677 907.039 677H15.0391C6.75478 677 0.0390625 670.284 0.0390625 662L0.0390625 15Z" fill="url(#paint0_radial)"/>
      <path d="M0.0390625 15C0.0390625 6.71574 6.75479 0 15.0391 0H907.039C915.323 0 922.039 6.71573 922.039 15V662C922.039 670.284 915.323 677 907.039 677H15.0391C6.75478 677 0.0390625 670.284 0.0390625 662L0.0390625 15Z" fill="url(#paint1_radial)"/>
      <defs>
      <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1111.41 161.914) rotate(169.943) scale(473.538 912.552)">
      <stop stop-color="#5A34CB"/>
      <stop offset="1" stop-color="#4334CB" stop-opacity="0"/>
      </radialGradient>
      <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(59.482 889.079) rotate(-49.1636) scale(567.441 922.37)">
      <stop stop-color="#9B34CB"/>
      <stop offset="1" stop-color="#9B34CB" stop-opacity="0"/>
      </radialGradient>
      </defs>
    </svg>
  </div>
</div>