<section class="py-12">
  <div class="max-w-7xl mx-auto relative md:grid md:grid-cols-2 md:px-6 lg:px-8">
    <div class="py-12 px-4 sm:px-6 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 md:border-r md:border-indigo-900 lg:pr-16">
      <div class="md:flex-shrink-0">
        <img class="h-12" src="" alt="logo">
      </div>
      <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
        <div class="relative text-lg font-medium text-white md:flex-grow">
          <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.
          </p>
        </div>
        <footer class="mt-8">
          <div class="flex items-start">
            <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
              <img class="h-12 w-12 rounded-full" src="" alt="">
            </div>
            <div class="ml-4">
              <div class="text-base font-medium text-white">Judith Black</div>
              <div class="text-base font-medium text-indigo-200">CEO, Tuple</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
    <div class="py-12 px-4 border-t-2 border-indigo-900 sm:px-6 md:py-16 md:pr-0 md:pl-10 md:border-t-0 md:border-l lg:pl-16">
      <div class="md:flex-shrink-0">
        <img class="h-12" src="" alt="logo">
      </div>
      <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
        <div class="relative text-lg font-medium text-white md:flex-grow">
          <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-600" fill="currentColor" viewBox="0 0 32 32">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis. Nemo expedita voluptas culpa sapiente alias molestiae.
          </p>
        </div>
        <footer class="mt-8">
          <div class="flex items-start">
            <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
              <img class="h-12 w-12 rounded-full" src="" alt="">
            </div>
            <div class="ml-4">
              <div class="text-base font-medium text-white">Joseph Rodriguez</div>
              <div class="text-base font-medium text-indigo-200">CEO, Workcation</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
    <svg class="absolute" width="1056" height="649" viewBox="0 0 1056 649" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <radialGradient id="paint0_radial_120_3717" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(207.941 296.113) rotate(-94.581) scale(192.258 230.449)">
        <stop stop-color="#5A34CB"/>
        <stop offset="1" stop-color="#4334CB" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint1_radial_120_3717" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.7457 379.716) rotate(-58.8625) scale(214.218 311.516)">
        <stop stop-color="#9B34CB"/>
        <stop offset="1" stop-color="#9B34CB" stop-opacity="0"/>
        </radialGradient>
        </defs>
      <circle r="137.624" transform="matrix(1 0 0 -1 96.6238 511.038)" fill="#16123E"/>
      <circle r="137.624" transform="matrix(1 0 0 -1 96.6238 511.038)" fill="url(#paint0_radial_120_3717)"/>
      <circle r="137.624" transform="matrix(1 0 0 -1 96.6238 511.038)" fill="url(#paint1_radial_120_3717)"/>
      <circle opacity="0.2" cx="803.5" cy="252.914" r="251" stroke="#7F4EFF" stroke-width="3"/>
      <circle cx="63.5237" cy="414.065" r="4.52368" fill="#7F4EFF"/>
      <circle cx="63.5237" cy="432.366" r="4.52368" fill="#7F4EFF"/>
      <circle cx="63.5237" cy="450.667" r="4.52368" fill="#7F4EFF"/>
      <circle cx="63.5237" cy="469.629" r="4.52368" fill="#7F4EFF"/>
      <circle cx="82.6565" cy="414.065" r="4.52368" fill="#7F4EFF"/>
      <circle cx="82.6565" cy="432.366" r="4.52368" fill="white"/>
      <circle cx="82.6565" cy="450.667" r="4.52368" fill="#7F4EFF"/>
      <circle cx="82.6565" cy="469.629" r="4.52368" fill="#7F4EFF"/>
      <circle cx="101.676" cy="414.065" r="4.52368" fill="#7F4EFF"/>
      <circle cx="101.676" cy="432.366" r="4.52368" fill="#7F4EFF"/>
      <circle cx="101.676" cy="450.667" r="4.52368" fill="#7F4EFF"/>
      <circle cx="101.676" cy="469.629" r="4.52368" fill="#7F4EFF"/>
      <circle cx="120.696" cy="414.065" r="4.52368" fill="#7F4EFF"/>
      <circle cx="120.696" cy="432.366" r="4.52368" fill="#7F4EFF"/>
      <circle cx="120.696" cy="450.667" r="4.52368" fill="#7F4EFF"/>
      <circle cx="120.696" cy="469.629" r="4.52368" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 119.086 395.111)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 100.785 395.112)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 82.4841 395.112)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 63.5232 395.112)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 119.086 375.977)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 100.785 375.977)" fill="white"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 82.4841 375.977)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 63.5232 375.977)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 119.086 356.958)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 100.785 356.958)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 82.4841 356.958)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 63.5232 356.958)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 119.086 337.938)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 100.785 337.938)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 82.4841 337.938)" fill="#7F4EFF"/>
      <circle r="4.52368" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 63.5232 337.938)" fill="#7F4EFF"/>
    </svg>
  </div>
</section>
