a {
  text-decoration: none;
}

.eyebrow {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.15em;
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  display: block;
  margin: 1rem 0;
  letter-spacing: -.015em;
  font-family: "Encode Sans Expanded", sans-serif;
}

.eyebrow + h1, h2, h3, h4 {
  margin-top: 0.25rem;
}

h1 {
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 130%;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 120%;
}

.copy {
  p {
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.6875rem;
  }
}

.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: .75rem 2.2em;
  text-align: center;
  z-index: 1;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #000;
  text-decoration: none;
  background-image: $purple-gradient;
  background-position: 0 100%;
  background-size: 300% 300%;
  transition: background-position $animation_timing;
  white-space: nowrap;

  &.primary {
    background-image: linear-gradient(283.85deg, #5C29F1 19.34%, #E37AC2 64.93%, #FF9067 94.8%);
    box-shadow: $standout_shadow;
  }

  &:hover {
    background-position: 100% 100%;
  }

  &.small {
    font-weight: 600;
  }

  &.tiny {
    font-size: 13px;
    font-weight: 600;
    padding: .8rem 2.2em;
  }

  &.transparent {
    background-color: $transparent_dark;
    background-image: none;
  }
}

.gradient-text {
  display: inline;
  background: $primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

input {
  background: $transparent_dark;
  border: 1px solid $black;
  border-radius: 3px;
  color: $white;
  font-size: .875rem;
  font-weight: 600;
  outline: 0;
  padding: .8125rem 1.25rem;
  line-height: 1.0625rem;

  &::placeholder {
    color: $dark-grey;
  }

  &:focus {
    border: 1px solid $orchid;
  }

  &[type="email"] {
    min-width: 250px;
  }
}

.fira {
  background: #000000;
  box-shadow: 0px 110.152px 129.955px rgba(80, 26, 251, 0.16), 0px 46.0189px 54.292px rgba(80, 26, 251, 0.115017), 0px 24.6039px 29.0271px rgba(80, 26, 251, 0.0953772), 0px 13.7928px 16.2724px rgba(80, 26, 251, 0.08), 0px 7.32523px 8.64212px rgba(80, 26, 251, 0.0646228), 0px 3.04819px 3.59618px rgba(80, 26, 251, 0.0449833);
  border-radius: 10px;
  
  border: solid 2px transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at top left, #AD00FF,#3901E1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  
}