body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.site-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  background: $background-gradient;
  z-index: -1;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: left;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint_xsmall) {
    padding: 0 2rem;
  }

  @media (min-width: $breakpoint_main) {
    padding: 0 2.875rem;
  }

  & > div {
    margin: 1rem auto;

    @media (min-width: $breakpoint_xsmall) {
      margin: 2.75rem auto;
    }
  }
  &.overflow {
    overflow: visible;
  }
  &.shifted_up {
    top: -130px;
  }
}

.hero {
  background: radial-gradient(100% 119% at 4% 160%, #9B34CB 1%, rgba(155, 52, 203, 0) 100%), radial-gradient(43% 71% at 96% -42%, #5A34CB 0%, rgba(67, 52, 203, 0) 100%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1128px;
  overflow:hidden;
  padding: 1rem;

  @media (min-width: $breakpoint_main) {
    padding: 2.5rem 2rem 2.5rem 4.5rem;
  }

  .copy {
    flex: 1;
    flex-basis: 340px;
    z-index: 50;

    > * {
      margin: 2rem 0;
      @media (min-width: $breakpoint_main) {
        margin: 2.25rem 2rem 2.25rem 0;
      }
    }

    h1 {
      font-size: clamp(2rem, 3.3vw, 2.75rem);
    }

    p {
      font-size: 1.25rem;
      line-height: 150%;

      @media (min-width: $breakpoint_main) {
        font-size: clamp(.875rem, 1.5vw, 1.25rem);
      }
    }
  }

  .graphic {
    flex: 1;
    max-width: 464px;
    flex-basis: 340px;
    text-align: center;
    max-height: 530px;
    position: relative;

    svg {
      margin-top: 1rem;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-width: 449px;
      margin: 0 auto;
    }
  }
}

.hero_engage {
  position: relative;
  max-width: 738px;
  z-index: 50;

  .panel {
    border-radius: 5px;
    background: $white;
    box-shadow: $standout_shadow;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 0 2rem;

    .copy {
      padding: 2rem 0;
      flex: 1 0 320px;
    }
    .graphic {
      max-height: 280px;
      flex: 1 1 200px;
      text-align: center;
      
      img {
        width: 160%;
        max-width: 432px;
      }
    }

  }

}

.product_info {
  text-align: center;
  
  .step {
    padding: 1rem 2rem 4rem 4.5rem;
  
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1128px;
    flex-direction: row-reverse;
  
    .copy {
      flex: 1;
      flex-basis: 340px;
      color: $white;
      padding: 0 2rem 2rem 3.75rem;
      position: relative;
      text-align: left;

      &::before {
        content: attr(data-count);
        position: absolute;
        top: .25rem;
        left: -1.875rem;
        font-family: "Encode Sans Expanded", sans-serif;
        font-size: 3.25rem;
        font-weight: 300;
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        padding: 1rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 5.5rem;
        left: 0;
        bottom: -3.75rem;
        background: $medium-purple;
        width: 1px;
      }
  
      h2 {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
      }
  
      .content {
        margin: 2.25rem 0;
      }
  
      .docs_link {
        color: $white;
        display: block;
        position: relative;
        margin: 1.5rem 0;
        padding: 0 2.5rem;
        transition: color $animation_timing;
        &::before {
          content: url(/img/icon_docs_link.svg);
          position: absolute;
          width: 20px;
          height: 25px;
          top: 4px;
          left: 0;
          display: block;
        }

        &:hover {
          color: $orchid;
        }
      }
    }


    &:last-of-type .copy::after {
      display:none;
    }
  
    .graphic {
      flex: 1;
      max-width: 464px;
      flex-basis: 340px;
      text-align: center;
      max-height: 530px;
      position: relative;
      left: -1rem;
  
      svg {
        margin-top: 1rem;
      }
  
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 449px;
        margin: 0 auto;
      }
    }
  }
}

.product_values {
  position: relative;
  background: radial-gradient(88.57% 68.8% at 6.45% 131.33%, #9B34CB 0%, rgba(155, 52, 203, 0) 100%), radial-gradient(50.57% 131.02% at 120.54% 23.92%, #5A34CB 0%, rgba(67, 52, 203, 0) 100%), #16123E;
  border-radius: 15px;
  padding: 2.75rem 0;
  max-width: 922px;
  width: 100%;
  margin: 0 67px 0 114px;
  left: 57px;
  z-index: 1;

  .tab_panel {
    position: relative;
    left: -114px;
    width: calc(100% + 20px);
    overflow: visible;
  }
  .graphic {
    max-width:280px;
  }
  .fira {
    left: 212px;
    width: calc(100% + 212px);
  }
}

.global_notification {
  background: $secondary-gradient;
  padding: 0.25rem 1rem 0.25rem 0;
  position: relative;
  line-height: .875rem;

  li {
    display: inline-block;
    overflow: hidden;
  }

  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $animation_timing;

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  a {
    color: $dark-purple;
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    padding: .625rem;
    max-width: 100%;
  }
}
  
.navbar {
  background: $purple-black;
  z-index: 100;

  @media (min-width: $breakpoint_main) {
    border-bottom: solid 1px #353250;
  }

  /* Hang the CTA Button out further */
  .container {
    padding-right: 2rem;
  }

  li {
    list-style: none;
    display: inline-block;
  }

  .logo {
    flex-basis: 97px !important;

    a {
      padding: .75rem 0;
    }
  }

  *[role="menuitem"] {
    padding:0;
    margin:0;
  }

  a {
    color: $white;
    display: inline-block;
    padding: 1rem .75rem;
    font-size: .875rem;
    font-weight: 600;
    white-space: nowrap;
    position: relative;
    text-decoration: none;

    @media (min-width: $breakpoint_large) {
      padding: 1.5rem 1.25rem;
      font-size: 1rem;
    }

    &.activatable::after,
    &.active:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -1px;
      left: 50%;
      opacity: 0;
      background: $secondary-gradient;
      transition: all 100ms ease;
    }

    &.activatable:hover::after,
    &.active:after {
      width: 100%;
      left: 0;
      opacity: 1;
      transition: all $animation_timing;
    }
    &.secondary {
      opacity: 0.75;
      
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    &.btn {
      top: 4px;
      margin: 0;
      padding: 0.5rem 1.625rem;
      opacity: 0.8;
      transition: opacity $animation_timing;

      &:hover {
        opacity: 1;
      }
    }
  }

  .mega {
    background: $purple-black;
    -webkit-box-shadow: 0 2px 4px rgba(3,27,78,.1),inset rgba(3,27,78,.1)0 2px 4px 0;
    box-shadow: 0 2px 4px rgba(3,27,78,.1),inset rgba(3,27,78,.1)0 2px 4px 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    line-height: 24px;
    padding: 0 calc(50% - 600px);
    position: absolute;
    right: 0;
    z-index: 300;
  }

  *[aria-haspopup] > .expander {
    &::after {
      bottom: 2px;
      color: $white;
      content: ">";
      font-size: 40%;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      padding-left: 4px;
      position: relative;
      speak: none;
      text-transform: none;
    }

    &:hover,
    &:focus {
      &::after {
        color: $white;
      }
    }
  }

  *[aria-hidden="true"] {
    display: none !important;
  }

  li {
    &[role="menuitem"] {
      * {
        &[aria-expanded] {
          opacity: 0;
          transition: visibility .2s linear 0s, opacity .2s ease-out;
          visibility: hidden;
        }

        &[aria-expanded="true"] {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  *[aria-haspopup] {
    position: relative;
  }

  .mega_parent {
    &[aria-haspopup] {
      position: inherit;
    }
  }

  /* Responsive */
  *[role="menuitem"] {
    display: none;

    @media (min-width: $breakpoint_main) {
      display: block;
    }

    &[data-show="always"] {
      display: block;
    }

    &[data-show="mobile"] {
      display: block;

      @media (min-width: $breakpoint_main) {
        display: none;
      }
    }
  }
}

.flex_wrap {
  align-items: center;
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }
  
  .grow {
    flex: 1;
    flex-shrink: 1;
  }
  .noshrink {
    flex-shrink: 0;
  }
  .shrink {
    flex-shrink: 1;
  }
  .right {
    text-align: right;
  }
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.email-cta {
  display: flex;
  flex-wrap: wrap;

  * {
    margin: 0 .25rem .5rem 0;
    vertical-align: top;
    flex-grow: 1;
  }
}

.tab_panel {
  position: relative;
  border-radius: 10px;
  box-shadow: $standout_shadow;
  color: $black;

  display: flex;
  justify-content: left;
  align-items: stretch;
  flex-wrap: wrap;

  .tab_buttons {
    flex: 1 0 136px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

    li:first-child a {
      border-top-left-radius: 10px;
    }

    li:last-child a {
      border-bottom-left-radius: 10px;
    }
    
    a {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      height: 100%;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      text-align: center;
      background-color: #f8f8f8;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      position: relative;
      text-decoration: none;

      .eyebrow {
        padding-top: 0.5rem;
        font-size: .75rem;
        color: $subtle_text;
        font-weight: 600;
      }

      &.active, &:hover {
        background-color: $white;
        border-right: none;
        box-shadow: 0 0 30px #00000011;
        z-index: 50;
      }
    }
  }

  .tab_contents {
    flex: 0 1 calc(100% - 136px);
    min-width: 540px;
    background: $white;
    border-radius: 0 10px 10px 0;
    position: relative;
    z-index: 51;
    
    .tab {
      display: none;
      padding: 3.5rem;

      &.active {
        display: flex;
      }
    }
  }

}

.flex_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1128px;
  height: 100%;

  .copy {
    flex: 1;
    margin-right: 1.5rem;

    h2 {
      font-size: 2rem;

      @media (min-width: $breakpoint_main) {
        font-size: clamp(1.5rem, 3vw, 2.25rem);
      }
    }

    .content {
      color: #656565;
      line-height: 1.5rem;
    }
  }

  .graphic {
    flex: 1;
    text-align: center;
    position: relative;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-width: 449px;
      margin: 0 auto;
    }
  }
}