body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.site-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  background: $background-gradient;
  z-index: -1;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: left;

  @media (min-width: $breakpoint_xsmall) {
    padding: 0 2rem;
  }

  @media (min-width: $breakpoint_main) {
    padding: 0 2.875rem;
  }

  & > div {
    margin: 1rem auto;

    @media (min-width: $breakpoint_xsmall) {
      margin: 2.75rem auto;
    }
  }
}

.hero {
  background: radial-gradient(100% 119% at 4% 160%, #9B34CB 1%, rgba(155, 52, 203, 0) 100%), radial-gradient(43% 71% at 96% -42%, #5A34CB 0%, rgba(67, 52, 203, 0) 100%);
  border-radius: 15px;
  padding: 2.5rem 2rem 2.5rem 4.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1128px;
  overflow:hidden;

  .copy {
    flex: 1;
    flex-basis: 340px;
    color: $white;
    padding-bottom: 2rem;
    margin-right: 2rem;

    h1 {
      font-size: clamp(1.5rem, 3vw, 2.75rem);
    }

    p {
      margin: 2.25rem 1rem 2.25rem 0;
    }

    a {
      color: $white;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .graphic {
    flex: 1;
    max-width: 464px;
    flex-basis: 340px;
    text-align: center;
    max-height: 530px;
    position: relative;
    left: -1rem;

    svg {
      margin-top: 1rem;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-width: 449px;
      margin: 0 auto;
    }
  }
}

.research_actions {
  position: relative;
  max-width: 738px;
  top: -90px;

  .arrow {
    position: absolute;
    margin-top: 50%;
    top: -.78125rem;

    .previous {
      left: -2rem;
    }
    .next {
      right: -2rem;
    }
  }

  .panel {
    border-radius: 5px;
    background: $white;
    box-shadow: $standout_shadow;
    max-width: 694px;
    padding: 2rem 2.875rem 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    grid-template-columns: minmax(280px, 50%) minmax(40px, 50%);
    grid-template-areas: 'copy graphic';

    .copy {
      padding-bottom: 2.25rem;

      p {
        font-size: .875rem;
        color: $subtle_text;
        line-height: 1rem;
      }
    }
    .graphic {
      height: 0;
      img {
        transform: translateY(-45%);
        object-fit: contain;
        width: 160%;
      }
    }

  }

}

.product_info {
  .step {
    padding: 1rem 2rem 4rem 4.5rem;
  
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1128px;
    flex-direction: row-reverse;
  
    .copy {
      flex: 1;
      flex-basis: 340px;
      color: $white;
      padding: 0 2rem 2rem 3.75rem;
      position: relative;

      &::before {
        content: attr(data-count);
        position: absolute;
        top: .25rem;
        left: -1.875rem;
        font-family: "Encode Sans Expanded", sans-serif;
        font-size: 3.25rem;
        font-weight: 300;
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        padding: 1rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 5.5rem;
        left: 0;
        bottom: -3.75rem;
        background: $medium-purple;
        width: 1px;
      }
  
      h2 {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
      }
  
      .content {
        font-size: .9375rem;
        margin: 2.25rem 0;
        opacity: .85;
      }
  
      .docs_link {
        color: $white;
        opacity: .85;
        font-size: .75rem;
        display: block;
        position: relative;
        margin: 1.5rem 0;
        padding: 0 2.5rem;
        &::before {
          content: url(/img/icon_docs_link.svg);
          position: absolute;
          width: 20px;
          height: 25px;
          top: 0;
          left: 0;
          display: block;
        }

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }


    &:last-child .copy::after {
      display:none;
    }
  
    .graphic {
      flex: 1;
      max-width: 464px;
      flex-basis: 340px;
      text-align: center;
      max-height: 530px;
      position: relative;
      left: -1rem;
  
      svg {
        margin-top: 1rem;
      }
  
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 449px;
        margin: 0 auto;
      }
    }
  }
}

.global_notification {
  background: $secondary-gradient;
  padding: 0.25rem 3rem 0.25rem 2rem;
  position: relative;
  line-height: .875rem;

  @media (min-width: $breakpoint_small) {
    padding: 0.25rem 3rem;
  }

  li {
    display: inline-block;
    overflow: hidden;
  }

  .close-button {
    position: absolute;
    right: 0;
    transition: opacity $animation_timing;

    @media (min-width: $breakpoint_small) {
      right: 1rem;
    }

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  a {
    color: $dark-purple;
    display: inline-block;
    font-size: .8125rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .625rem;
    max-width: 100%;
  }

  .btn {
    font-size: .5625rem;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    padding: .5rem 1rem;
    margin: 0;
  }
}
  
.navbar {
  background: $purple-black;
  border-bottom: solid 1px #353250;
  z-index: 100;

  /* Hang the CTA Button out further */
  .container {
    padding-right: 2rem;
  }

  li {
    list-style: none;
    display: inline-block;
  }

  .logo {
    flex-basis: 97px !important;

    a {
      padding: 1.25rem .75rem .625rem 0;
    }
  }

  *[role="menuitem"] {
    padding:0;
    margin:0;
  }

  a {
    color: $white;
    display: inline-block;
    font-size: .875rem;
    padding: 1rem .75rem;
    font-weight: 600;
    white-space: nowrap;
    position: relative;

    @media (min-width: $breakpoint_large) {
      padding: 1.5rem 1.6875rem;
    }

    &.activatable::after,
    &.active:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -1px;
      left: 50%;
      opacity: 0;
      background: $secondary-gradient;
      transition: all 100ms ease;
    }

    &.activatable:hover::after,
    &.active:after {
      width: 100%;
      left: 0;
      opacity: 1;
      transition: all $animation_timing;
    }
    &.secondary {
      opacity: 0.75;
      
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    &.btn {
      top: 4px;
      margin: 0;
      padding: 0.5rem 1.625rem;
      opacity: 0.8;
      transition: opacity $animation_timing;

      &:hover {
        opacity: 1;
      }
    }
  }

  .mega {
    background: $purple-black;
    -webkit-box-shadow: 0 2px 4px rgba(3,27,78,.1),inset rgba(3,27,78,.1)0 2px 4px 0;
    box-shadow: 0 2px 4px rgba(3,27,78,.1),inset rgba(3,27,78,.1)0 2px 4px 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    line-height: 24px;
    padding: 0 calc(50% - 600px);
    position: absolute;
    right: 0;
    z-index: 300;
  }

  *[aria-haspopup] > .expander {
    &::after {
      bottom: 2px;
      color: $white;
      content: ">";
      font-size: 40%;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      padding-left: 4px;
      position: relative;
      speak: none;
      text-transform: none;
    }

    &:hover,
    &:focus {
      &::after {
        color: $white;
      }
    }
  }

  *[aria-hidden="true"] {
    display: none !important;
  }

  li {
    &[role="menuitem"] {
      * {
        &[aria-expanded] {
          opacity: 0;
          transition: visibility .2s linear 0s, opacity .2s ease-out;
          visibility: hidden;
        }

        &[aria-expanded="true"] {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  *[aria-haspopup] {
    position: relative;
  }

  .mega_parent {
    &[aria-haspopup] {
      position: inherit;
    }
  }

  /* Responsive */
  *[role="menuitem"] {
    display: none;

    @media (min-width: $breakpoint_main) {
      display: block;
    }

    &[data-show="always"] {
      display: block;
    }

    &[data-show="mobile"] {
      display: block;

      @media (min-width: $breakpoint_main) {
        display: none;
      }
    }
  }
}

.flex_wrap {
  align-items: center;
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }
  
  .grow {
    flex: 1;
    flex-shrink: 1;
  }
  .noshrink {
    flex-shrink: 0;
  }
  .shrink {
    flex-shrink: 1;
  }
  .right {
    text-align: right;
  }
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.email-cta {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;

  * {
    margin: 0 .25rem .5rem 0;
    vertical-align: top;
  }
}
