<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  
  {{- partial "head" . -}}
  
  <body class="text-base">
   
    {{- block "header" . -}}
      {{- partial "promo_banner" . -}}
      {{- partial "navigation" . -}}
    {{- end -}}

    <main class="relative w-full overflow-hidden">
      {{- block "main" . -}}{{- end -}}
    </main>

    {{- block "footer" . -}}
      {{ partial "footer" . }}
    {{- end -}}
  
    <div class="mz_fader_bg"></div>
    
    {{ $wp := .Site.Data.webpack }}
    {{- with $wp.app.js -}}
      <script src="{{ relURL . }}"></script>
    {{- end -}}
    {{- with $wp.main.js -}}
      <script src="{{ relURL . }}"></script>
    {{- end }}

  </body>
</html>
