<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="text-base">
    
    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <div class="mz_fader_bg"></div>
    {{ $wp := .Site.Data.webpack }}
    {{- with $wp.app.js -}}
      <script src="{{ relURL . }}"></script>
    {{- end -}}
    {{- with $wp.main.js -}}
      <script src="{{ relURL . }}"></script>
    {{- end }}
  </body>
</html>
