/* New Site Styles */

$white: #FFF;
$grey: #A2A2A2;
$dark-grey: #CDCDCD;
$medium-grey: #EDE7FD;
$light-grey: #F5F5F5;
$black: #383D49;
$dark-black: #1d1d1d;
$purple-black: #040126;
$faded-purple: #FAF8FD;
$light-purple: #BAB5EF;
$purple: #7F4EFF;
$medium-purple: #472F85;
$dark-purple: #1B164C;
$darkest-purple: #140D55;
$orchid: #E537C0;
$transparent-gradient: linear-gradient(0deg, #FFFFFF00 0%,#FFFFFF00 100%);
$primary-gradient: linear-gradient(280.8deg, #5C29F1 15.21%, #E37AC2 56.5%, #FF9067 85.53%);
$primary-gradient-dark: linear-gradient(280.8deg, #5C29F1 15.21%, #E37AC2 56.5%, #FF9067 85.53%),linear-gradient(0deg, #111111, #111111);

$secondary-gradient: linear-gradient(277.43deg, #4512C7 -97.28%, #59C3FF 15.82%, #75FF86 120.75%), linear-gradient(281.49deg, #5C29F1 22.32%, #E37AC2 64.57%, #FF9067 94.28%);
$purple-gradient: linear-gradient(110deg ,#5a34cb -.7%,#9b34cb 33.33%,#be41f9 66.66%,#7f4eff 99.48%);
$background-gradient: linear-gradient( 180deg ,#030025 11.46%,#251f63 100%);
$transparent: #FFFFFF00;
$transparent_dark: rgba(0,0,0,.4);
$animation_timing: 350ms ease;

$breakpoint_small: 800px;
$breakpoint_main: 900px;
$breakpoint_large: 1024px;

@import "imports/reset";
@import "imports/fonts";
@import "imports/layout";
@import "imports/content";