:root {
  --bg: #030627;
  --textPrimary: #fff;
  --textSecondary: #dad9df;
  --textReadableColor: #1B164C;
  --inputBg: #140828;
  --layoutAccentPurple: #301c7b;
  --layoutAccentGray: #353250;
  --toggleInactive: #110c3c;
  --toggleActive: #2a2172;
  --inverse_bg: #fff;
  --inverse_toggleInactive: #f8f8f8;
  --inverse_toggleActive: #FFF;
  --inverse_textPrimary: #000;
  --inverse_textSecondary: #656565;
  --transparentDarken: #00000055;
  --transparentLighten: #FFFFFF55;

  --accentColorOne: #EE8660;
  --accentColorTwo: #AD37E5;
  --accentColorThree: #E537C0;

  --gradientPrimary: linear-gradient(283.85deg, #5C29F1 19.34%, #E37AC2 64.93%, #FF9067 94.8%);
  --gradientSecondary: linear-gradient(110deg ,#5a34cb -.7%,#9b34cb 33.33%,#be41f9 66.66%,#7f4eff 99.48%);
  --gradientTertiary: linear-gradient(277.43deg, #4512C7 -97.28%, #59C3FF 15.82%, #75FF86 120.75%);
  --gradientBackground: radial-gradient(99.49% 118.97% at 3.45% 159.7%, #9B34CB 0.63%, rgba(155, 52, 203, 0) 100%), radial-gradient(42.13% 70.58% at 96.04% -42.41%, #5A34CB 0%, rgba(67, 52, 203, 0) 100%);

  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

  --shadow-color-dark-bg: 253deg 82% 15%;
  --shadow-elevation-low-dark:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-dark-bg) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color-dark-bg) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color-dark-bg) / 0.34);
  --shadow-elevation-medium-dark:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-dark-bg) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-dark-bg) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-dark-bg) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-dark-bg) / 0.36);
  --shadow-elevation-high-dark:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-dark-bg) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color-dark-bg) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color-dark-bg) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color-dark-bg) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color-dark-bg) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color-dark-bg) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color-dark-bg) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color-dark-bg) / 0.34);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;300&family=Fira+Code&family=Inter:wght@300;400;600;700&display=swap');

  body {
    @apply font-sans;
    @apply antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }

  .mz_btn {
    @apply font-semibold;
    @apply p-3;
    @apply md:px-6;
    @apply rounded;
    @apply whitespace-nowrap;
    @apply cursor-pointer;
    @apply text-center;
    @apply text-white;
    @apply bg-white;
    @apply bg-opacity-10;

    transition: all 0.2s ease-out;

    &:hover, &:focus {
      -moz-transform: rotate(0.02deg);
      @apply bg-opacity-20;
    }

    box-shadow: var(--shadow-elevation-medium-dark);
  }

  .mz_btn_primary {
    background-image: var(--gradientPrimary);
    background-position: 0% 100%;
    background-size: 200% 200%;
    text-shadow: 1px 1px 2px #00000022, -1px -1px 2px #00000022;

    &:hover, &:focus {
      background-position: 100% 100%;
    }
  }

  .mz_btn_secondary {
    background-image: var(--gradientSecondary);
    background-position: 0 100%;
    background-size: 300% 300%;

    &:hover, &:focus {
      background-position: 100% 100%;
    }
  }

  .mz_btn_tertiary {
    background-image: var(--gradientTertiary);
    background-position: 0 100%;
    background-size: 300% 300%;
    color: var(--textReadableColor);

    &:hover, &:focus {
      background-position: 100% 100%;
    }
  }

  .mz_btn_lightbg {
    box-shadow: var(--shadow-elevation-medium);
  }

  .mz_navlink {
    @apply relative;
    @apply block;
    @apply px-3;
    @apply py-2;
    @apply font-semibold;
    @apply bg-transparent;
    @apply rounded-lg;
    @apply whitespace-nowrap;
    @apply cursor-pointer;
    @apply mdl:mt-0;
    @apply mdl:py-6;
    @apply lg:px-6;
    @apply mdl:inline-block;
  }

  .mz_navlink_hover_effect {
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -1px;
      left: 50%;
      opacity: 0;
      background: var(--gradientTertiary);
      @apply transition-all;
      @apply duration-200;
      @apply ease-in;
    }

    &:hover:after {
      width: 100%;
      left: 0;
      opacity: 1;
      @apply transition-all;
      @apply duration-200;
      @apply ease-out;
    }
  }

  .mz_docs_link {
    padding-left: 2rem;
    position: relative;
    display: block;

    &::before {
      content: url(/img/icon_docs_link.svg);
      position: absolute;
      width: 20px;
      height: 25px;
      top: 0;
      left: 0;
      display: block;
    }
  }

  .mz_shadow_m_dark {
    box-shadow: var(--shadow-elevation-medium-dark);
  }
  .mz_shadow_h_dark {
    box-shadow: var(--shadow-elevation-high-dark);
  }

  .mz_shadow_m_light {
    box-shadow: var(--shadow-elevation-medium-light);
  }
  .mz_shadow_h_light {
    box-shadow: var(--shadow-elevation-high-light);
  }

  .mz_circle {
    @apply border-4;
    @apply border-ui-purple;
    @apply max-w-3xl;
    max-height: 768px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .mz_bg-gradient-tertiary {
    background: var(--gradientTertiary);
  }

  .mz_bg-gradient-ne {
    background: var(--gradientBackground);
  }
  .mz_bg-gradient-se {
    background: var(--gradientBackground);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .mz_gradient_text {
    background: var(--gradientPrimary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
  .mz_tertiary {
    .mz_gradient_text {
      background-image: var(--gradientTertiary);
    }
  }

  .mz_gradient_border_green {
    background: var(--gradientTertiary);
    border-radius: 8px;
    padding: 2px;
    position: relative;
    top: -2px;
    & > * {
      border-radius: 6px;
    }
  }

  .mz_gradient_border_purple {
    background: linear-gradient(102deg, #AD00FF -15.87%, #3901E1 64.83%);
    border-radius: 10px;
    padding: 3px;
    position: relative;
    top: -3px;
    box-shadow: 0px 110.152px 129.955px rgba(80, 26, 251, 0.16), 0px 46.0189px 54.292px rgba(80, 26, 251, 0.115017), 0px 24.6039px 29.0271px rgba(80, 26, 251, 0.0953772), 0px 13.7928px 16.2724px rgba(80, 26, 251, 0.08), 0px 7.32523px 8.64212px rgba(80, 26, 251, 0.0646228), 0px 3.04819px 3.59618px rgba(80, 26, 251, 0.0449833);
    & > * {
      border-radius: 7px;
    }
  }
  
  .mz_carrot_top {
    &:before {
      content: "";
      position: absolute;
      top: -6px;
      left: 40px;
      z-index: 1;
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
      @apply bg-white;
    }

    &:after {
      content: "";
      position: absolute;
      top: -8px;
      left: 38px;
      z-index: -1;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background: var(--gradientTertiary);
    }
  }

  .mz_arrow_link {
    display: inline-block;

    &:after {
      display: inline-block;
      color: var(--accentColorThree);
      content: "→";
      margin: 0 .5rem;
      transform: translateX(-2px);
      transition: transform 200ms ease;
      font-weight: bold;
    }

    &:hover{
      text-decoration: underline;
  
      &:after {
        transform: translateX(2px);
        filter: brightness(1.5);
        text-shadow: 1px 1px 3px var(--transparentDarken);
      }
    }
  }

  .mz_rotate {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .mz_gradient_secondary {
  }

  .mz_code {
    @apply bg-black;
    @apply relative;
    @apply p-5;
    @apply pt-10;
    @apply overflow-hidden;

    &:before {
      @apply absolute;
      @apply top-1.5;
      @apply left-4;
      @apply font-extrabold;
      @apply pr-2;
      letter-spacing: .4rem;
      content: "○○○";
      background: var(--gradientSecondary);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
    }
  }

  .mz_fader_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    background: linear-gradient(
180deg, #030025 11.46%, #251F63 100%);
    z-index: -1;
    pointer-events: none;
  }

  /* ANIMATION CSS FOR LOGOMARK */ 
  @-webkit-keyframes bar1 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    19% {
      opacity: 0;
      transform: translateX(10px) translateY(10px);
    }

    20% {
      opacity: 1;
      transform: translateX(-50px) translateY(-50px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes bar1 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    19% {
      opacity: 0;
      transform: translateX(10px) translateY(10px);
    }

    20% {
      opacity: 1;
      transform: translateX(-50px) translateY(-50px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @-webkit-keyframes bar2 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    19% {
      opacity: 0;
      transform: translateX(10px) translateY(10px);
    }

    20% {
      opacity: 1;
      transform: translateX(-50px) translateY(-50px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes bar2 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    19% {
      opacity: 0;
      transform: translateX(10px) translateY(10px);
    }

    20% {
      opacity: 1;
      transform: translateX(-50px) translateY(-50px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @-webkit-keyframes bar3 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    19% {
      opacity: 0;
      transform: translateX(30px) translateY(30px);
    }

    20% {
      opacity: 1;
      transform: translateX(-50px) translateY(-50px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes bar3 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    19% {
      opacity: 0;
      transform: translateX(30px) translateY(30px);
    }

    20% {
      opacity: 1;
      transform: translateX(-50px) translateY(-50px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @-webkit-keyframes bar4 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    59% {
      opacity: 0;
      transform: translateY(-50px) translateY(-50px);
    }

    60% {
      opacity: 1;
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes bar4 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    59% {
      opacity: 0;
      transform: translateY(-50px) translateY(-50px);
    }

    60% {
      opacity: 1;
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @-webkit-keyframes bar5 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    69% {
      opacity: 0;
      transform: translateY(-50px) translateY(-50px);
    }

    70% {
      opacity: 1;
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes bar5 {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    69% {
      opacity: 0;
      transform: translateY(-50px) translateY(-50px);
    }

    70% {
      opacity: 1;
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .m-mark:hover {
    cursor: pointer;
  }

  .m-mark:hover .bar1 {
    -webkit-animation-name: bar1;
    animation-name: bar1;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
  }

  .m-mark:hover .bar2 {
    -webkit-animation-name: bar2;
    animation-name: bar2;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
  }

  .m-mark:hover .bar3 {
    -webkit-animation-name: bar2;
    animation-name: bar2;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }

  .m-mark:hover .bar4 {
    -webkit-animation-name: bar4;
    animation-name: bar4;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
  }

  .m-mark:hover .bar5 {
    -webkit-animation-name: bar5;
    animation-name: bar5;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
  }

  .mz_markdown {
    ul {
      list-style: inside;
    }
  }
}

@import 'imports/syntax';
